<div class="portfolio-modal modal fade" id="chartmodal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body" style="text-align:center">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Word Chart Based {{info.get('category')}}</h2>
                            <p class="item-intro text-muted">{{info.get('category')}}의 빈도수</p>
                            <img class="img-fluid d-block mx-auto" src="/static/img/chart/{{info.get('category')}}_POS.png" alt="" width = 50%>
                            <p>Positive Word Cloud Based {{info.get('category')}}</p>
                            <img class="img-fluid d-block mx-auto" src="/static/img/chart/{{info.get('category')}}_NEU.png" alt="" width = 50%>
                            <p>Neutual Word Cloud Based {{info.get('category')}}</p>
                            <img class="img-fluid d-block mx-auto" src="/static/img/chart/{{info.get('category')}}_NEG.png" alt="" width = 50%>
                            <p>Negative Word Cloud Based {{info.get('category')}}</p>
                            <img class="img-fluid d-block mx-auto" src="/static/img/chart/{{info.get('category')}}_POS_C.png" alt="" width = 40%>
                            <p>PositiveWord Chart Based {{info.get('category')}}</p>
                            <img class="img-fluid d-block mx-auto" src="/static/img/chart/{{info.get('category')}}_NEU_C.png" alt="" width = 40%>
                            <p>Neutual Word Chart Based {{info.get('category')}}</p>
                            <img class="img-fluid d-block mx-auto" src="/static/img/chart/{{info.get('category')}}_NEG_C.png" alt="" width = 40%>
                            <p>Negative Word Chart Based {{info.get('category')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>