<!DOCTYPE html>
<html lang="en">

  {% include 'mod/head.html' %}

<body id="page-top">

  <!-- Navigation -->
  {% include 'mod/navigation.html' %}
  <!-- Header -->
  {% include 'mod/header.html' %}

  <!-- Services -->
  {% include 'mod/services.html' %}
  {% include 'mod/servicesModals.html' %}

  <!-- Portfolio Grid -->
  {% include 'mod/portfolio.html' %}

  <!-- About -->
  {% include 'mod/about.html' %}

  <!-- Team -->
  {% include 'mod/ourteam.html' %}

  <!-- Contact -->
  {% include 'mod/contact.html' %}

  <!-- Footer -->
  {% include 'mod/footer.html' %}

  <!-- Portfolio Modals -->
  {% include 'mod/modals.html' %}
  

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="/static/js/jqBootstrapValidation.js"></script>
  <script src="/static/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/agency.min.js"></script>

</body>

</html>
