<div class="portfolio-modal modal fade" id="serviceModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Goolge Playstore & Apple Store Analysi</h2>
                            <p class="item-intro text-muted">플레이스토어 & 앱스토어 분석</p>
                            <img class="img-fluid d-block mx-auto" src="/static/img/googlevsapple.jpg" alt="" width = 60%>
                            <p>Kaggle에 있는 Google Playstore와 Applestore Data를 이용하여, 데이터 결측치 처리 및 변수 변환 등 데이터를 전처리한 뒤 시각화함으로써 플레이스토어와 애플스토어의 변수별 다운로드 수를 종족변수로하여 변수 별로 비교, 분석합니다.</p>
                            <ul class="list-inline">
                                <li>Date: 2017.02.26</li>
                                <li>Client: Group C</li>
                                <li>Category : AppStore Analysis</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="serviceModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Prediction Model</h2>
                            <p class="item-intro text-muted">예측 모델</p>
                            <img class="img-fluid d-block mx-auto" src=""
                                alt="" width=60%>
                            <p></p>
                            <ul class="list-inline">
                                <li>Date: 2019.02.26</li>
                                <li>Client: Grouop C</li>
                                <li>Category : Prediction Model</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="serviceModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">3</h2>
                            <p class="item-intro text-muted">3</p>
                            <img class="img-fluid d-block mx-auto" src=""
                                alt="" width=60%>
                            <p>플레이스토어와 앱스토어</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Threads</li>
                                <li>Category : installs</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="serviceModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Search in PlayStore</h2>
                            <p class="item-intro text-muted">어플 검색</p>
                            <div class="card-body">
                                <form action = '/search' method="POST"  target=_blank>
                                    <select name='points' class="form-control form-control-sm">
                                        <option value='0.0'>평점 선택</option>
                                        <option value='1.0'>1.0점 이상</option>
                                        <option value='2.0'>2.0점 이상</option>
                                        <option value='3.0'>3.0점 이상</option>
                                        <option value='4.0'>4.0점 이상</option>
                                    </select>
                                    <select name='category' class="form-control form-control-sm">
                                        <option value='FAMILY'>카테고리 선택</option>
                                        <option value='FAMILY'>가족</option>
                                        <option value='FINANCE'>금융</option>
                                        <option value='FOOD_AND_DRINK'>식/음료</option>
                                        <option value='GAME'>게임</option>
                                        <option value='HEALTH_AND_FITNESS'>생활/건강</option>
                                        <option value='HOUSE_AND_HOME'>부동산</option>
                                        <option value='LIBRARIES_AND_DEMO'>라이브러리 및 데모</option>
                                        <option value='LIFESTYLE'>생활습관</option>
                                        <option value='MAPS_AND_NAVIGATION'>지도</option>
                                        <option value='MEDICAL'>의학</option>
                                        <option value='NEWS_AND_MAGAZINES'>뉴스 및 잡지</option>
                                        <option value='PARENTING'>육아</option>
                                        <option value='PERSONALIZATION'>개인</option>
                                        <option value='PHOTOGRAPHY'>사진</option>
                                        <option value='PRODUCTIVITY'>생산성</option>
                                        <option value='SHOPPING'>쇼핑</option>
                                        <option value='SOCIAL'>사회</option>
                                        <option value='SPORTS'>스포츠</option>
                                        <option value='TOOLS'>도구</option>
                                        <option value='TRAVEL_AND_LOCAL'>여행</option>
                                        <option value='VIDEO_PLAYERS'>동영상</option>
                                        <option value='WEATHER'>날씨</option>
                                    </select>
                                    <select name='rating' class="form-control form-control-sm">
                                        <option value='Everyone'>콘텐츠 등급</option>
                                        <option value='Everyone'>전체 이용가</option>
                                        <option value='Teen'>10세 이용가</option>
                                        <option value='Everyone 10+'>청소년 이용가</option>
                                        <option value='Mature 17+'>17세 이용가</option>
                                        <option value='Adults only 18+'>청소년 이용불가</option>
                                        <option value='Unrated'>미분류</option>
                                    </select>
                                    <select name='type' class="form-control form-control-sm">
                                            <option value='Free'>유/무료</option>
                                            <option value='Free'>무료</option>
                                            <option value='Paid'>상관 없음</option>
                                    </select>
                                    <br/>
                                    <button class="btn btn-primary btn-icon-split">
                                            <span class="text">전송</span>
                                    </button>
                                </form>
                            </div>
                            <img class="img-fluid d-block mx-auto" src=""
                                alt="" width=60%>
                            <p>플레이스토어 데이터베이스 필터링 검색</p>
                            <ul class="list-inline">
                                <li>Date: 2019.02.26</li>
                                <li>Client: Group C</li>
                                <li>Category : Filtering</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="serviceModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Search in AppStore</h2>
                            <p class="item-intro text-muted">어플 검색</p>
                            <div class="card-body">
                                <form action = '/search2' method="POST"  target=_blank>
                                    <select name='points' class="form-control form-control-sm">
                                        <option value='0.0'>평점 선택</option>
                                        <option value='1.0'>1.0점 이상</option>
                                        <option value='2.0'>2.0점 이상</option>
                                        <option value='3.0'>3.0점 이상</option>
                                        <option value='4.0'>4.0점 이상</option>
                                    </select>
                                    <select name='category' class="form-control form-control-sm">
                                        <option value='Book'>카테고리 선택</option>
                                        <option value='Book'>책</option>
                                        <option value='Business'>비즈니스</option>
                                        <option value='Catalogs'>카탈로그</option>
                                        <option value='Education'>교육</option>
                                        <option value='Entertainment'>엔터테인먼트</option>
                                        <option value='Finance'>금융</option>
                                        <option value='Food & Drink'>식/음료</option>
                                        <option value='Games'>게임</option>
                                        <option value='Health & Fitness'>생활/건강</option>
                                        <option value='Lifestyle'>생활습관</option>
                                        <option value='Medical'>의학</option>
                                        <option value='Music'>음악</option>
                                        <option value='Navigation'>지도</option>
                                        <option value='News'>뉴스 및 잡지</option>
                                        <option value='Photo & Video'>사진 및 비디오</option>
                                        <option value='Productivity'>생산성</option>
                                        <option value='Reference'>참고</option>
                                        <option value='Shopping'>쇼핑</option>
                                        <option value='Social Networking'>소셜네트워킹</option>
                                        <option value='Sports'>스포츠</option>
                                        <option value='Travel'>여행</option>
                                        <option value='Utilities'>유틸리티</option>
                                        <option value='Weather'>날씨</option>
                                    </select>
                                    <select name='rating' class="form-control form-control-sm">
                                        <option value='4+'>콘텐츠 등급</option>
                                        <option value='4+'>전체 이용가</option>
                                        <option value='9+'>10세이상 이용가</option>
                                        <option value='12+'>12세 이용가</option>
                                        <option value='17+'>청소년 이용불가</option>
                                    </select>
                                    <select name='type' class="form-control form-control-sm">
                                            <option value='0'>유/무료</option>
                                            <option value='0'>무료</option>
                                            <option value='999'>상관 없음</option>
                                    </select>
                                    <br/>
                                    <button class="btn btn-primary btn-icon-split">
                                            <span class="text">전송</span>
                                    </button>
                                </form>
                            </div>
                            <img class="img-fluid d-block mx-auto" src=""
                                alt="" width=60%>
                            <p>앱스토어 데이터베이스 필터링 검색</p>
                            <ul class="list-inline">
                                <li>Date: 2019.02.26</li>
                                <li>Client: Group C</li>
                                <li>Category : Filtering</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
